<%# Please make sure to update 'forms/social_image.html.erb' file if this file is updated %>

<div class="" ng-controller="AppCtrl" ng-init='init(<%= @formss %>, <%= @keys %>)'>
 
    <div class="boardContainer" ng-repeat="cat_board in cat_boards">
      <div class="">
        <div class="categoryheader">
          <div class="categorytitle col-md-8" >
            <span>
              <a ng-if="cat_board.category != 'trending' && cat_board.category != 'staff_picks' " ng-href="/categories/{{cat_board.category}}">
                {{cat_board.name}}
              </a>

              <a ng-if="(cat_board.category == 'trending' || cat_board.category == 'staff_picks')" ng-href="/{{cat_board.category}}">
                {{cat_board.name}}
              </a>
            </span>
          </div>
          <div class="categorytitle col-md-4">
            
            <a ng-if="cat_board.category != 'trending' && cat_board.category != 'staff_picks' " ng-href="/categories/{{cat_board.category}}">
              <i class="material-icons">keyboard_arrow_right</i>  
            </a>

            <a ng-if="(cat_board.category == 'trending' || cat_board.category == 'staff_picks')" ng-href="/{{cat_board.category}}">
              <i class="material-icons">keyboard_arrow_right</i>
            </a>
          
          </div>
          <hr>
        </div>

      <section class="cards" layout="row" layout-wrap>  
        <div class ="repeatBoard" ng-repeat="board in cat_board.boards"  ng-init="outerIndex=$index" ng-class="(outerIndex%3 == 0) ? 'fullBoard' : 'halfBoard'">
          <%= render 'static_pages/board'%>  
        </div>
      </section>  
      </div>
      <br>
    </div>

</div>

