<%# Please make sure to update 'forms/social_image.html.erb' file if this file is updated %>

<div class="boardContainer" ng-controller="DraftBoardCtrl" ng-init="init(<%= @draft_boards %>)">
  <style type="text/css">    
    .article-cell {
      width: 250px !important;
      border: 1px solid #e3e3e3;
      box-shadow: 0px 1px 1px #888888;
      z-index: 3;
      margin: 20px 0.5%;
      padding: 0px 15px;
      background-color:white;
    }
    .bookmark-button {
      border: none;
      background: transparent;
    }
    .bookmark-button:focus {outline:0;}
  </style>
  <div infinite-scroll='nextPage()' infinite-scroll-disabled='busy'>   
    <div ng-repeat="board in draft_boards" ng-init="outerIndex=$index">
      <%= render 'static_pages/board'%>
      <% if current_user.username == @user.username %>
        <div class="footedit">
          <%= link_to 'Edit & Publish', '/forms/{{board.id}}/edit', class:"btn btn-info btn-md" %>
          <%= link_to 'Delete', '/forms/{{board.id}}', method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info btn-md" %>  
        </div>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">
    .empty
  { 
    color: white;
    text-shadow: -2px 0 #9c1717, 0 2px #9c1717, 2px 0 #9c1717, 0 -2px #9c1717;
  }
</style>