<div class="footer-section">
	<md-divider></md-divider>

	<div style="margin: auto; width: 75%">
		<section class="">
    	<div class="categoryheader">
    		<div class="categorytitle">
    			<span>Discover More</span>
    		</div>
    	</div>
  	</section>
 		<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak layout layout-align="center center">

		  <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
		  <a style="" layout="row" layout layout-align="center center" href="/most_recent">
		    <span>Most Recent</span>
		  </a>
		  </md-whiteframe>

		  <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
		    <a style="" layout="row" layout layout-align="center center" href="/most_popular">
		    	<span>Most Popular</span>
		  	</a>
		  </md-whiteframe>

		  <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
		    <a style="" layout="row" layout layout-align="center center" href="/most_saved">
		    	<span>Most Saved</span>
		  	</a>
		  </md-whiteframe>

		  <% tren_cat = Form.all.map {|e| e.tag_list}.join(',').split(',').each_with_object(Hash.new(0)) {|b, hash| hash[b] += 1}.sort_by{ |k, v| v }.reverse.to_h.select {|x| x.start_with? 'cat_'} %>
		  <% tren_cat.each do |f,v| %>
		  	<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
		    	<a style="" layout="row" layout layout-align="center center" href='/categories/<%= f[4..-1] %>'>
		    		<span><%= f[4..-1].capitalize %></span>
		  		</a>
		  	</md-whiteframe>
      <% end %>
		</div>
	</div>
</div>