<div class="footer-section">
	<md-divider></md-divider>

	<div style="margin: auto; width: 75%">
		<section class="">
    	<div class="categoryheader">
    		<div class="categorytitle">
    			<span>Discover More</span>
    		</div>
    	</div>
  	</section>
 		<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak layout layout-align="center center">

			<% category_list = Category.all.order(:rank).pluck(:category_name) %>
			<% user_category_list = current_user.categories_ids %>
			<% remove_3_category = user_category_list.drop(3) %>
			<% new_category_list = (category_list - user_category_list) %>
			<% (remove_3_category + new_category_list).each_with_index do |f,index| %>
				<% next if index > 5 %>
				<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
			    	<a style="" layout="row" layout layout-align="center center" href='/categories/<%= f.split('_').join(' ') %>'>
			    		<span style="text-align:center;"><%= f %></span>
			  		</a>
			  	</md-whiteframe>
			<% end %>

			<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
			  <a style="" layout="row" layout layout-align="center center" href="/most_recent">
			    <span>Most Recent</span>
			  </a>
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
			<a style="" layout="row" layout layout-align="center center" href="/most_popular">
				<span>Most Popular</span>
				</a>
			</md-whiteframe>

			<md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="20" layout layout-align="center center">
			<a style="" layout="row" layout layout-align="center center" href="/most_saved">
				<span>Most Saved</span>
				</a>
			</md-whiteframe>

		</div>
	</div>
</div>