<%# Please make sure to update 'forms/social_image.html.erb' file if this file is updated %>

<div class="boardContainer" ng-controller="SavedBoardCtrl" ng-init="init(<%= @saved_boards %>)">
  <div>
    <section class="cards" layout="row" layout-wrap>   
      <div class ="repeatBoard" ng-repeat="board in saved_boards" ng-init="outerIndex=$index; boardsLength=saved_boards.length" ng-class="(boardsLength%3 != 0 && (boardsLength-1) == outerIndex) ? 'fullBoard' : ((outerIndex%3 == 0) ? 'fullBoard' : 'halfBoard')">
        <%= render 'static_pages/board'%>
      </div>
    </section>
  </div>
</div>