
<div class="boardContainer" ng-controller="ShowBoardCtrl" ng-init="init(<%= @pub_boards %>, <%= @keys %>)">
  <style type="text/css">        
    .bookmark-button {
      border: none;
      background: transparent;
    }
    .bookmark-button:focus {outline:0;}
  </style>
  <div ng-repeat="board in pub_boards | orderBy:'updated_at':true" ng-init="outerIndex=$index">
    
    <%= render 'static_pages/open_board'%>    
  </div>
</div>
<style type="text/css">
    .empty
  { 
    color: white;
    text-shadow: -2px 0 #9c1717, 0 2px #9c1717, 2px 0 #9c1717, 0 -2px #9c1717;
  }
</style>