<md-content flex>
	<br>
	<br>
	<br>
	<br>
	<h1>Dashboard</h1>
	<%= link_to 'Forms', forms_path %>
	<br>
	<br>
	<%= link_to 'Categories', categories_path %>
	<br>
	<br>
	<%= link_to 'Users', users_path %>
	<br>
	<br>
	<a href="/user_admin">Create Dummy Users</a>
	<br>
	<br>
	<a href="/mixpanel_data">Mixpanel Data</a>
	<br>
	<br>
	<a href="/update_all_forms">Update Form List</a>
	<br>
	<br>
</md-content>