	<!DOCTYPE html>
<html>
    <head>
       
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    </head>
    
    <body>
        <div class="nav-header">
            <ul>
                <li id="logo"> <img src = Group.jpeg/></li>
                <li style="font-size: 22px">THE LENSE</li>
                <li id="search">
                    <form>
                        <input type="text" placeholder="Search..." required>
                        <i class="material-icons" style="font-size: 16px">search</i>
                    </form>
                <li id="curate">Curate<i class="material-icons" style="font-size: 30px">add_circle_outline</i>
                </li>
                </li>
                <li id="user" style="font-size: 16px">User<i class="material-icons" style="font-size: 16px">account_circle</i></li>            
            </ul>
            </div
          <div id="nav-menu">
          	<ul>
                <li>Trending</li>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Content Spiral</li>
                <li>Bookmark</li>
            <hr>
			</ul>

        </div>   
        
            
        
        
                
        
    </body>
</html>


* {
    box-sizing: border-box;
}
hr
{
width: 148%;
 margin-left: -232px;   
}
#logo
{
    margin-left: -150px;
    position: relative;
}

#nav-header ul {
    width: 70%;
    margin: 40px auto;
    text-align: left;

    padding-bottom: 30px;
}

#nav-header ul li{
    font-size: 30px;
    font-family: "Roboto", serif;
    display: inline-block;
}

#curate {
    margin-left: 120px;
    word-spacing: 10px;
    border: 1px solid;
    padding: 5px;
}

.material-icons {
    vertical-align: middle;
    display: inline-block;
}
.navbar-header
{
    width: 60px;
    height: 150px;
}

#search {
    margin-left: 200px;
}

#user {
    margin-left: 20px;
}

#nav-menu ul {
    width: 70%;
    margin: 0px auto;
    text-align: left;
}

#nav-menu ul li{
    color: #9C1717;
    font-family: "PT Serif", serif;
    display: inline-block;
    font-size: 17px;
    padding: 0 30px;
}

#nav-menu ul li:hover{
    text-decoration: underline;
    text-decoration-color: #9C1717;
}

nav {
    display: block;
}
html body
{
 margin: 0 auto;
 text-align: center;
}
