<!-- if user has signed in -->
<% if user = current_user %>
<%= render 'static_pages/boards'%>



<!-- if user isn't signed in -->
<% else %>

<div id="banner">
<div id="bannerContent">
<h3 class="bannerTitle"> THE LENSE </h3>
<h4 class="bannerSubtitle">Collect & engage with the best curated content on the web.</h4>
<p class="bannerText">The Lense is a platform where you share your views on a subject by putting together the <span>5 most appropriate links</span> on it, thereby eliminating the noise on the web.<br><br>

Each board is like a <span>mixed tape for content on the web</span>. By limiting you to 5 links, we want you to put only the best articles, videos, podcasts, slideshows forward… so that the collective entity is greater than each individual piece. So take your time and put a little thought into it before you express yourself!</p>
</div>
</div>
<%= render 'static_pages/boards'%>

<% end %>