<!-- if user has signed in -->
<% if user = current_user %>
<div class="maincont">


<% if @forms_design.present? %>
    <h1>Design</h1>
	<%= render 'static_pages/boards_design'%>
<% end %>

<% if @forms_startups.present? %>
	<h1>StartUps</h1>
	<%= render 'static_pages/boards_startups' %>
<% end %>

<%= render 'static_pages/boards'%>

</div>


<!-- if user isn't signed in -->
<% else %>

<div id="banner">
	<!--<div class="col-md-11" id="bannerContent">
	<h4 class="bannerSubtitle">Collect & Engage With The Best Curated Content On The Web.</h4>
	<p class="bannerText">The Lense is a platform for you to express your opinions, thoughts or favorite collections around a topic by putting together the <span>5 most appropriate links</span> that make your case.<br><br>

	By limiting you to 5 links, we want you to put only the best articles, videos, podcasts, slideshows forward… so that the collective entity is greater than any individual piece in your board.

	In doing so each board offers a unique - i.e. your perspective on a topic So take your time and put a little thought into it before you express yourself!</p>
	</div>-->
</div>
<%= render 'static_pages/boards'%>
<% end %>