<!DOCTYPE html>
<html>
    <head>
        <title>TheLense</title>
        <link href="P8C.css" type = "text/css" rel = "stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >
    </head>
    
    <body>
    	<!-- <div class="header"> -->
        <div id="nav-header">
            	<ul>
                <li id="logo"> <img src = Group.png/>THE LENSE</li>
                <!-- <li id="curate">Curate<i class="material-icons" style="font-size: 30px">add_circle_outline</i></li>
                 --><li id="search">
                    	<input class="search-button" type="search" name="s" id="search-field" class="search-form-input" placeholder="Search" tabindex="-1">
                        <button class="search-button" required><i class="material-icons" style="font-size: 16px">search</i></button>
                 User<i class="material-icons" style="font-size: 16px">account_circle</i>
                </li>
                            
            </ul>
            </div> 
          <!-- </div> -->
          <div id="nav-menu">
          	<ul id="subh">
                <li >Trending</li>
                <li>Topic 1</li>
                <li>Topic 2</li>
                <li>Topic 3</li>
                <li>Content Spiral</li>
                <li>Bookmark</li>
			</ul>
          </div>  
        
        
        
    </body>
</html>