<md-content flex>
	<div class="categoryheader">
	  <h2>Most Viewed</h2>
	</div>
<%= render 'static_pages/cat_boards'%>

<script type="text/javascript">
    mixpanel.track("Most Viewed", {
      "Page Name": 'Home Page',
      "Username": '<%= current_user.username %>'    
    });
</script>

</md-content>