<md-content flex>
	<div class="categoryheader">
	  <h2>Most Liked</h2>
	</div>
<%= render 'static_pages/cat_boards'%>
<script type="text/javascript">
    mixpanel.track("Page Viewed", {
      "Page Name": 'Most Liked',
      "Username": '<%= current_user.username %>'    
    });
</script>

</md-content>