/* line 1, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
.social-image {
  margin: 10px 15px 0;
  width: 1000px;
}

/* line 6, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
.social-image #image {
  width: 300px;
}

/* line 10, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
#tagging span {
  color: #4a4a4a;
  background-color: #f2f2f2;
  padding: 3px 10px;
  margin-left: 3px;
  border-radius: 1px;
}

/* line 18, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
#total-likes {
  line-height: 24px;
  margin-left: 3px;
  font-size: 14px;
}

/* line 24, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
.inline-relative {
  display: inline-block;
  position: relative;
}

/* line 29, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
.b-8 {
  bottom: 8px;
}

/* line 33, /Users/Prithvi/p8c-develop/app/assets/stylesheets/form_social_image.scss */
.m-t-10 {
  margin-top: 10px;
}
