<div class="modal fade custom-modal" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        Change your password
      </div>
      <div class="modal-body">
        <div class="form">
          <%= render partial: 'edit_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        var changePasswordModal = $("#changePasswordModal");
        changePasswordModal.modal("show");
        changePasswordModal.on('hide.bs.modal', function () {
            window.location.replace("/");
        });
    });
</script>