<style type="text/css">
  .new-form-title input {
    width: 100%;
    border: 0px;
  }
  .new-form-title input:focus {
    outline: none;
  }
  .new-form-title input:active {
    outline: none;
  }
  .new-form-description {
    text-align: left;
  }
  .new-form-description textarea {
    width:100%;
    border: none;
  }
  .new-form-description textarea:focus {
    outline: none;
  }
  .form-article-cells li {
    transform: none !important;
    transition: transform 0.0s !important;
  }
  .form-article-cells li:hover {
    transform: none !important;
    transition: transform 0.0s !important;
  }
  .rotate-animation {
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    font-size: 50px;
    position: relative;
    top: 35%;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

</style>
<div class="modal fade custom-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" ng-controller="newFormCtrl" ng-init="init()">
    <div class="modal-dialog" style="width: 80%">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click="openModal = false">&times;</button>
          <h4 class="modal-title" style="text-align-last: center">New form</h4>
        </div>
        <div class="modal-body" style="padding: 15px">
          <div class="form-container" style="">
            <ul style="margin: 0px 30px; list-style: none ">
                <!-- ngIf: followers.length == 0 -->
                <!-- ngRepeat: follower in followers -->
                <li class="ng-scope">
                  <div class="row" style="width: 100%; margin: 0px">
                    <div class="col-md-9" style="text-align: left; padding: 0px">
                      <div class="row" style="width: 100%">
                        <div class="col-md-1" style="padding: 0px; text-align: right">
                          <% if current_user.photo_url.present? %>
                            <div class="user-avatar" style='background-image:url("<%= current_user.photo_url %>"); width: 40px; height: 40px'>
                            </div>
                          <% else %>
                            <i class="material-icons md-120" style="float: left">account_circle</i>
                          <% end %>
                        </div>
                        <div class="col-md-4" style="padding: 0px">
                          <div style="margin-left: 10px; font-weight: bold"><%= current_user.username %></div>
                          <div style="margin-left: 10px">Draft</div>
                        </div>
                      </div>                      
                    </div>
                  </div>
                  <div class="row" style="width: 100%">
                    <div class="col-md-12" style="text-align:left;padding-left: 15px">
                      <h2 style="margin-top: 10px; margin-bottom: 0px" class="new-form-title"><input class="" type="text" name="title" placeholder="Title"></h2>
                    </div>
                  </div>
                  <hr style="margin: 0px 20px 0px 20px; border-color: lightgrey">
                  <div class="row" style="width: 100%">
                    <div class="col-md-12"> 
                      <!-- Bootstrap to divide the entire page into colums -->    
                      <h5 class="new-form-description"><textarea rows="2" placeholder="description"></textarea></h5>
                    </div>
                  </div>
                  <hr style="margin: 0px 20px 0px 20px; border-color: lightgrey">
                  <div class="row" style="width: 100%">
                    <div class="col-md-12"> 
                      <ul class="row form-article-cells" style="width: 100%; margin-left: 0px">
                        <!-- 1st link -->
                        <li class="form-article-cell">
                          <hr>
                          <div style="display: block; height:88%" ng-if="!newFormLinks[0].loading1 && !newFormLinks[0].displayLinkData">
                            <div style="display: block; height: 60%">
                              <a ng-if="!newFormLinks[0].link1" href="" ng-click="AddLinkClicked('link1')" style="position: relative; top:45px">
                                <i class="material-icons" style="font-size:50px">add_circle</i>
                                <p>Add a new link</p>
                              </a>
                              <a ng-if="newFormLinks[0].link1" href="">
                                <p style="color: red" ng-if="newFormLinks[0].error1">{{newFormLinks[0].error1}}</p>
                                <input type="text" ng-model="newFormLinks[0].url1" style="width:100%; position: relative; top: 50px" placeholder="place your link here">
                              </a>  
                            </div>                            
                            <div style="display: block; height: 40%">
                              <a ng-if="newFormLinks[0].link1" href="" class="btn btn-sm" ng-click="uploadLink('link1')" style="position: relative; top: 5px">
                                <i class="material-icons" style="font-size: 35px">file_upload</i>
                              </a>
                            </div>
                          </div>
                          <div style="display: block; height: 88%" ng-if="newFormLinks[0].loading1 && !newFormLinks[0].displayLinkData">
                            <i class="material-icons rotate-animation" style="">cached</i>
                          </div>
                          <div style="display: block; height: 88%" ng-if="!newFormLinks[0].loading1 && newFormLinks[0].displayLinkData">
                            <div style="display: block; height: 50%">
                                <img ng-src="{{newFormLinks[0].image1}}" ng-if="newFormLinks[0].image1" style="height:100%; width: 100%"/>
                                <img id="image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[0].image1" style="height:100%; width: 100%">
                            </div>
                            <div style="display:block; height: 40%">
                              <p style="font-weight: bold; font-size: 13px; margin-bottom: 0px; position: relative; top: 10px">{{newFormLinks[0].title1}}</p>
                            </div>
                            <div style="display: block; height: 10%">
                              <p style="font-size: 12px">{{newFormLinks[0].host1}}</p>
                            </div>
                          </div>
                          <hr>
                        </li>
                        <!-- 2nd link -->
                        <li class="form-article-cell">  
                          <hr>
                          <div style="display: block; height:88%" ng-if="!newFormLinks[1].loading2 && !newFormLinks[1].displayLinkData">
                            <div style="display: block; height: 60%">
                              <a ng-if="!newFormLinks[1].link2" href="" ng-click="AddLinkClicked('link2')" style="position: relative; top:45px">
                                <i class="material-icons" style="font-size:50px">add_circle</i>
                                <p>Add a new link</p>
                              </a>
                              <a ng-if="newFormLinks[1].link2" href="">
                                <p style="color: red" ng-if="newFormLinks[1].error2">{{newFormLinks[1].error2}}</p>
                                <input type="text" ng-model="newFormLinks[1].url2" style="width:100%; position: relative; top: 50px" placeholder="place your link here">
                              </a>  
                            </div>                            
                            <div style="display: block; height: 40%">
                              <a ng-if="newFormLinks[1].link2" href="" class="btn btn-sm" ng-click="uploadLink('link2')" style="position: relative; top: 5px">
                                <i class="material-icons" style="font-size: 35px">file_upload</i>
                              </a>
                            </div>
                          </div>
                          <div style="display: block; height: 88%" ng-if="newFormLinks[1].loading2 && !newFormLinks[1].displayLinkData">
                            <i class="material-icons rotate-animation" style="">cached</i>
                          </div>
                          <div style="display: block; height: 88%" ng-if="!newFormLinks[1].loading2 && newFormLinks[1].displayLinkData">
                            <div style="display: block; height: 50%">
                                <img ng-src="{{newFormLinks[1].image2}}" ng-if="newFormLinks[1].image2" style="height:100%; width: 100%"/>
                                <img id="image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[1].image2" style="height:100%; width: 100%">
                            </div>
                            <div style="display:block; height: 40%">
                              <p style="font-weight: bold; font-size: 13px; margin-bottom: 0px; position: relative; top: 10px">{{newFormLinks[1].title2}}</p>
                            </div>
                            <div style="display: block; height: 10%">
                              <p style="font-size: 12px">{{newFormLinks[1].host2}}</p>
                            </div>
                          </div>
                          <hr>
                        </li>
                        <!-- 3rd link -->
                        <li class="form-article-cell">  
                          <hr>
                          <div style="display: block; height:88%" ng-if="!newFormLinks[2].loading3 && !newFormLinks[2].displayLinkData">
                            <div style="display: block; height: 60%">
                              <a ng-if="!newFormLinks[2].link3" href="" ng-click="AddLinkClicked('link3')" style="position: relative; top:45px">
                                <i class="material-icons" style="font-size:50px">add_circle</i>
                                <p>Add a new link</p>
                              </a>
                              <a ng-if="newFormLinks[2].link3" href="">
                                <p style="color: red" ng-if="newFormLinks[2].error3">{{newFormLinks[2].error3}}</p>
                                <input type="text" ng-model="newFormLinks[2].url3" style="width:100%; position: relative; top: 50px" placeholder="place your link here">
                              </a>  
                            </div>                            
                            <div style="display: block; height: 40%">
                              <a ng-if="newFormLinks[2].link3" href="" class="btn btn-sm" ng-click="uploadLink('link3')" style="position: relative; top: 5px">
                                <i class="material-icons" style="font-size: 35px">file_upload</i>
                              </a>
                            </div>
                          </div>
                          <div style="display: block; height: 88%" ng-if="newFormLinks[2].loading3 && !newFormLinks[2].displayLinkData">
                            <i class="material-icons rotate-animation" style="">cached</i>
                          </div>
                          <div style="display: block; height: 88%" ng-if="!newFormLinks[2].loading3 && newFormLinks[2].displayLinkData">
                            <div style="display: block; height: 50%">
                                <img ng-src="{{newFormLinks[2].image3}}" ng-if="newFormLinks[2].image3" style="height:100%; width: 100%"/>
                                <img id="image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[2].image3" style="height:100%; width: 100%">
                            </div>
                            <div style="display:block; height: 40%">
                              <p style="font-weight: bold; font-size: 13px; margin-bottom: 0px; position: relative; top: 10px">{{newFormLinks[2].title3}}</p>
                            </div>
                            <div style="display: block; height: 10%">
                              <p style="font-size: 12px">{{newFormLinks[2].host3}}</p>
                            </div>
                          </div>
                          <hr>
                        </li>
                        <!-- 4th link -->
                        <li class="form-article-cell">  
                          <hr>
                          <div style="display: block; height:88%" ng-if="!newFormLinks[3].loading4 && !newFormLinks[3].displayLinkData">
                            <div style="display: block; height: 60%">
                              <a ng-if="!newFormLinks[3].link4" href="" ng-click="AddLinkClicked('link4')" style="position: relative; top:45px">
                                <i class="material-icons" style="font-size:50px">add_circle</i>
                                <p>Add a new link</p>
                              </a>
                              <a ng-if="newFormLinks[3].link4" href="">
                                <p style="color: red" ng-if="newFormLinks[3].error4">{{newFormLinks[3].error4}}</p>
                                <input type="text" ng-model="newFormLinks[3].url4" style="width:100%; position: relative; top: 50px" placeholder="place your link here">
                              </a>  
                            </div>                            
                            <div style="display: block; height: 40%">
                              <a ng-if="newFormLinks[3].link4" href="" class="btn btn-sm" ng-click="uploadLink('link4')" style="position: relative; top: 5px">
                                <i class="material-icons" style="font-size: 35px">file_upload</i>
                              </a>
                            </div>
                          </div>
                          <div style="display: block; height: 88%" ng-if="newFormLinks[3].loading4 && !newFormLinks[3].displayLinkData">
                            <i class="material-icons rotate-animation" style="">cached</i>
                          </div>
                          <div style="display: block; height: 88%" ng-if="!newFormLinks[3].loading4 && newFormLinks[3].displayLinkData">
                            <div style="display: block; height: 50%">
                                <img ng-src="{{newFormLinks[3].image4}}" ng-if="newFormLinks[3].image4" style="height:100%; width: 100%"/>
                                <img id="image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[3].image4" style="height:100%; width: 100%">
                            </div>
                            <div style="display:block; height: 40%">
                              <p style="font-weight: bold; font-size: 13px; margin-bottom: 0px; position: relative; top: 10px">{{newFormLinks[3].title4}}</p>
                            </div>
                            <div style="display: block; height: 10%">
                              <p style="font-size: 12px">{{newFormLinks[3].host4}}</p>
                            </div>
                          </div>
                          <hr>
                        </li>
                        <!-- 5th link -->
                        <li class="form-article-cell">  
                          <hr>
                          <div style="display: block; height:88%" ng-if="!newFormLinks[4].loading5 && !newFormLinks[4].displayLinkData">
                            <div style="display: block; height: 60%">
                              <a ng-if="!newFormLinks[4].link5" href="" ng-click="AddLinkClicked('link5')" style="position: relative; top:45px">
                                <i class="material-icons" style="font-size:50px">add_circle</i>
                                <p>Add a new link</p>
                              </a>
                              <a ng-if="newFormLinks[4].link5" href="">
                                <p style="color: red" ng-if="newFormLinks[4].error5">{{newFormLinks[4].error5}}</p>
                                <input type="text" ng-model="newFormLinks[4].url5" style="width:100%; position: relative; top: 50px" placeholder="place your link here">
                              </a>  
                            </div>                            
                            <div style="display: block; height: 40%">
                              <a ng-if="newFormLinks[4].link5" href="" class="btn btn-sm" ng-click="uploadLink('link5')" style="position: relative; top: 5px">
                                <i class="material-icons" style="font-size: 35px">file_upload</i>
                              </a>
                            </div>
                          </div>
                          <div style="display: block; height: 88%" ng-if="newFormLinks[4].loading5 && !newFormLinks[4].displayLinkData">
                            <i class="material-icons rotate-animation" style="">cached</i>
                          </div>
                          <div style="display: block; height: 88%" ng-if="!newFormLinks[4].loading5 && newFormLinks[4].displayLinkData">
                            <div style="display: block; height: 50%">
                                <img ng-src="{{newFormLinks[4].image5}}" ng-if="newFormLinks[4].image5" style="height:100%; width: 100%"/>
                                <img id="image" src="/assets/whiteimage-56971d179ae068f801bcbdd5c4db7d3cefcaeab1406897a4be57c0cdfe980450.jpg" alt="Whiteimage" ng-if="!newFormLinks[4].image5" style="height:100%; width: 100%">
                            </div>
                            <div style="display:block; height: 40%">
                              <p style="font-weight: bold; font-size: 13px; margin-bottom: 0px; position: relative; top: 10px">{{newFormLinks[4].title5}}</p>
                            </div>
                            <div style="display: block; height: 10%">
                              <p style="font-size: 12px">{{newFormLinks[4].host5}}</p>
                            </div>
                          </div>
                          <hr>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var editUserModal = $("#editUserModal");
        editUserModal.modal("show");
        editUserModal.on('hide.bs.modal', function () {
            window.location.replace("/");
        });
    });
</script>