<div class="maincont" ng-controller="UpdateFormListCtrl" ng-init="init(<%= @all_forms_list %>)">
	<h4>Click bellow button to update list of boards for all categories:</h4>	
	<style type="text/css">
		@keyframes spinner {
		  to {transform: rotate(360deg);}
		}
		 
		.spinner {
		  content: '';
		  box-sizing: border-box;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  width: 50px;
		  height: 50px;
		  margin-top: -20px;
		  margin-left: -20px;
		  border-radius: 50%;
		  border: 2px solid #ccc;
		  border-top-color: #333;
		  animation: spinner .6s linear infinite;
		}
	</style>

	<div class="row">
		<span style="float: left">Current Date: <%= Time.now.to_date %></span>
		<span style="float: right"><button type="submit" ng-click="updateList()">Update List</button></span>
	</div>
	<br>
	<br>
	<div class="row">
	  <table>
	    <thead>
	      <tr class="md-table-headers-row">
	      	<th class="md-table-header">
	        	<span>No</span>
	        </th>
	        <th class="md-table-header">
	        	<span>Form List Type</span>
	        </th>
	        <th class="md-table-header">
	        	<span>Form Ids</span>
	        </th>	        
	      </tr>
	    </thead>
	    <tbody>
	    	<tr ng-if="loading_data">
	    		<td colspan="18">
	    			<div style="height: 100px; width: 100%">
	    				<span class="spinner"></span>
                    </div>
	    		</td>
	    	</tr>   	
		      <tr ng-if="!loading_data" ng-repeat="board_type in list" class="md-table-content-row">
		      	<td>
		          <span>{{ $index+1 }}</span>
		        </td>
		        <td>
		          <span>{{ board_type["forms_type"] }}</span>
		        </td>
		        <td>
		          <span>{{ board_type["form_ids"] }}</span>
		        </td>
		      </tr>		    
	    </tbody>
	  </table>
	</div>
</div>