@import "bootstrap-sprockets";
@import "bootstrap";
    
header, nav {
    display: block;
}


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px
}

.header
{   
    
    margin: 0px auto;
    width: 100%;
    border-bottom: 2px solid;
    height: 50px;
}

.mainheader
{
    position: fixed;
    top: 0px;
    background-color:white;
    width: 100%;
    z-index: 2;
}

#nav-header {
    width: 1024px;
    height: 45px;
    margin: auto;
    margin-top: 20px;
    border-bottom-width :solid black 10px;
}

#nav-header ul li {
    font-family: "Roboto", serif;
    display: inline-block;
}

#curate
{   
    width: 120px;
    height: 35px;
    border: 1px solid black;
    background-color: #9c1717;
    font-family: Futura;
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0px auto;

}

#logo {
    font-family: Nunito, sans-serif;
    font-weight: bold; 
    float: left;
    font-size: 24px;
    cursor: pointer;
      display: inline-block;
      color: #000000;
&:hover{
    color: #000000;
    background-color: transparent;
    }   
}



#logo img {
    margin-right: 10px;
    height: 26px;
    width: 26px;
    cursor: pointer
}

.dropdown-toggle
{
      
&:hover{
    color: #000000;
    background-color: transparent;
    }   

}


#image
{
    width: 120%;
    height: 150px;
}

.image
{
    width: 100%;
    height: 150px;
}


button
{ 
  margin-top: 5px;
  width: 25%;
  height: 15%;

}


#search-box
{   
    margin-right: 30px;
    float: right;
    margin-top:1px;
}    

#user {   
    float: right;
    font-size: 16px;
    color : #000000;
&:hover{
    color: #000000;
    background-color: transparent;
    } 
}



#nav-icons
{
    vertical-align: middle;



}

#serch
{
  vertical-align: middle;
    &:hover{
    color: #000000;
    background-color: transparent;
    } 
}


#nav-menu
{
    width: 1024px;
    height: 45px;
    margin: 0 auto;
        
}

    

#subh {   
    width: 1024px;
    height: 45px;
    margin: 0 auto;
    float: left;
}

#subh li{
margin: 5px 15px 0px 0px ;
float: left;
}

#nav-menu ul li{
    color: #9C1717;
    font-family: "PT Serif", serif;
    display: inline-block;
    font-size: 16px;
    padding: 0 px;
}
#nav-menu ul li:hover{
    padding-bottom: 2px;
    border-bottom: 3px solid #9C1717;
}
.container
{   
    width: 1024px;
    
    margin: 0px auto;
    margin-top: 50px;
    
    
}

.row {
        
    width: 180%;
    height: 425px;
 }

 #row1
 {
 width: 100%;
 height: 50%;
 }


 .col-half-offset
 {
 margin-left: 2.777777%;
 
 }
 
.container1
{
 
 border: 1px solid black;
 width: 950px;
 margin: 0px auto;
 margin-top: 50px;   
 background-color: white;
 
}

.maincont
{
    margin-top: 120px;
}

.container3
{
    overflow-x:auto;
}






/* .verticalline
{
    border: 1px solid black;
    width: 1px;
    height: 100%;
} */
nav {
    display: block;
}
html body
{
 margin: 0 auto;
 text-align: center;
}

.vertical
{
    border-right: 1px solid black;
    width: 1px;
    margin-top: -20px;
    height: 300px;
}

.title
{   
    margin-left: 26px;
    margin-right: 26px;
    font-family: Futura;
    font-size: 24px;
    text-align: center;
    width: 265px;
    height: 52px;
    font-weight: bold;
    text-transform: capitalize;
    color: #000000;
&:hover{
    color: #000000;
    background-color: transparent;
    }  
}

.title1
{
    font-family: Futura;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    float: left;
    text-align: left;
    margin-top: -10px;
    }


.bottom-material
{    
    float:right;
}

#profile
{   
    font-size: 18px;      
    float: left;
    margin-left: -30px;
    color: #000000;
&:hover{
    color: #000000;
    background-color: transparent;
    }  
}

#prouser
{
 margin-top: -25px;
 margin-left: 75px;   
}
.like
{   

    font-size: 12px;
    margin-top: 2px;
    vertical-align: middle;
    float: left;
}
hr
{
    border: 1px solid #8B0000;
    margin-top: 10px;
    width: 120%;
    
}

.center-material
{
    color: #9c1717;
    float:center;
}

#matred
{
    color: #9c1717;
    
    font-size: 20px;

}

.internal_text
{   
    font-size: 15px;
    color: #4A4A4A;
    font-family: "PT Serif";
    font-style: Italic;
    width: 260px;
    height:140px;
    margin-left: 14px;
    line-height: 25px;      
}

.internal_text1
{
    color: #4A4A4A;
    font-family: "PT Serif";
    font-size: 15px;
    text-align: left;
    width: 195px;
    height: 100px;
    line-height: 20px;
}

.date
{  
   color: #9c1717;
   font-family: "PT Serif";
   font-size: 15px;
}

#link
{   
    font-size: 15px;
    color: #9c1717;
    font-family: "PT Serif";
    float: left;
}

.third
{
    width:221px;
    height:430px;
}

#usacc
{
width: 50%;
margin-top: 150px;
}


#abt
{
    width: 59%;
    margin: 0 px auto;
    margin-top: 5px;
}

.count
{
 width: 40%;
 margin: 0px auto;
 font-size: 24px;
 line-height: 50px;
}

.count > #countpub
{
    float:left;
}

.count > #countsav
{
    text-align:right;
}


.count > #countdra
{
  margin-bottom: -49px;

}

.boord
{
    width: 45%;
    margin: 0px auto;
}

.boord > #board
{
    font-size: 15px;
    float: left;
}

.boord > #board1
{
    font-size: 15px;
}

.boord > #board2
{
    font-size: 15px;
    float: right;
}



/*----------form---------------- */

.field 
{   
    
    margin-top: 20px;
    font-size: 24px;
    
    font-size: 22px;
}

.actions
{
    height: 100px;
    font-size: 24px;
    text-align: center;

}

#actions1
{
    width: 30%;
    height: 36px;
    background-color: white;
    color: black;
    border-radius: 4px;
    float: right;
}

#Save
{
    font-size: 16px;
    height: 20px;
    width: 30%;
}

.form_container
{
    border: 1px solid black;
    margin-top: 10px;
    width: 50%;
    margin: 0px auto;
    margin-top: 150px;
    background-color: #f2f2f2;
    position: relative;
}

#textfield
{
    float: right;
    margin-right: 30px;
    line-height: 15px;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;

}

.formlist
{
    width: 75%;
    margin-left: 30px;
    
}

#username
{   
    font-size: 20px;
    margin: 0px auto;
    margin-right: -100px;
    margin-top: -50px;
}

.dropdown-menu
{
    margin-top: -590px;
    margin-left: 1050px;
    position: fixed;
}

#mainrow
{
    z-index: 1000;
    margin-top: 115px; 

}


.formlogin
{
  
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #cc0000;
}




.headsin
{
  width: 100%; 
  font-size: 25px;
  margin-top: 10px;   
}

.headsin > #sihe
{   
    width: 50%;
    float: left;
    
    &:hover{
     background-color: white;
     color: black;
    }
}

.headsin > #sihu
{   
    width: 50%;
    height: 100%;
    float: right;
    
    &:hover{
     background-color: white;
     color: black;
    }
}

.signinform
{
    margin-top: 75px;
    margin-left: 100px;
}

.signupform
{
    margin-top: 75px;
    margin-left: 75px;
}

.mainrow1
{
  margin: 0px auto;
  width: 65%;
}

#formlogo
{
 float:left;
 font-size: 30px;  
 color: white;
 font-family: Nunito, sans-serif;
 font-weight: bold; 
}

#formtext
{
  
  font-size: 24px;
  padding-left: 2px;
  color: white;
  line-height: 30px;
  float: left;
}

.formlistbullet
{
  margin-left: 15px;
}

.formlistbullet > li
{
  font-size: 18px;
  float: left;

  color: white;
}





