@import "bootstrap-sprockets";
@import "bootstrap";
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px
}

.header
{
    margin: 0px auto;
    width: 100%;
    border-bottom: 3px solid;
    height: 50px;
}

#nav-header {
    width: 1024px;
    height: 45px;
    margin: auto;
    margin-top: 20px;
    border-bottom-width :solid black 10px;
}

#nav-header ul li {
    font-family: "Roboto", serif;
    display: inline-block;
}

#logo {
    float: left;
    font-size: 25px;
}

#logo img {
    margin-right: 10px;
    height: 26px;
    width: 26px;
}

#search-box
{   

    float: right;
}    

#user {   
    float: right;
    font-size: 16px;
}



#nav-icons
{
    vertical-align: middle;
}


#nav-menu
{
    width: 1024px;
    height: 45px;
    margin: 0 auto;
        
}

    

#subh {   
    width: 1024px;
    height: 45px;
    margin: 0 auto;
    float: left;
}

#subh li{
margin: 0px 15px 0px 0px ;
float: left;
}

#nav-menu ul li{
    color: #9C1717;
    font-family: "PT Serif", serif;
    display: inline-block;
    font-size: 16px;
    padding: 0 px;
}
#nav-menu ul li:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid #9C1717;
}
.container
{   border: 1px solid black;
    width: 1024px;
    
    margin: 0px auto;
    margin-top: 50px;
}
.container1
{
 border: 1px solid black;
 width: 900px;
 height: 420 px;
 margin: 0px auto;
 margin-top: 50px;   
}
#cont1
{
    margin: 0px auto;
}
/* .verticalline
{
    border: 1px solid black;
    width: 1px;
    height: 100%;
} */
nav {
    display: block;
}
html body
{
 margin: 0 auto;
 text-align: center;
}

.vertical
{
    border-right: 1px solid black;
    width: 1px;
    margin-top: -20px;
    height: 300px;
}

.title
{   
    font-family: Futura;
    font-size: 24px;
    text-align: center;
}

.title1
{
    font-family: Futura;
    font-size: 16px;
}


.bottom-material
{    
    float:right;
}

#profile
{   
    margin-top: -10px;       
    float: left;
}
.like
{   

    font-size: 12px;
    margin-top: 2px;
    vertical-align: middle;
    float: left;
}
hr
{
    border: 1px solid #8B0000;
}

.center-material
{
    color: #9c1717;
    float:center;
}

#matred
{
    color: #9c1717;
}

.internal_text
{   
    font-size: 15px;
    color: #4A4A4A;
    font-family: "PT Serif";
}
.date
{  
   color: #9c1717;
   font-family: "PT Serif";
   font-size: 15px;
}
.internal_text1
{
    color: #4A4A4A;
    font-family: "PT Serif";
    font-size: 13px;
    text-align: left;
}

#link
{   
    font-size: 15px;
    color: #9c1717;
    font-family: "PT Serif";
    float: left;
}