@import "bootstrap-sprockets";
@import "bootstrap";

* {
    box-sizing: border-box;
}

#logo
{
    float: left;
    margin-top: 5px;
    margin-left: -40px;
}

#nav-header li img {
    margin-right: 10px;
   
    }

    

#nav-header
{
    width: 1040px;
    margin: 0 auto;
    height: 45px;
    border-bottom: 1px solid black;    
}
#user
{   
    padding-left: 10px;
    padding-left: 10px; 
    font-size: 18px;
    float: right;
    margin-top: 6px;
}
#nav header  #user i
{
    margin-right: 20px;
}

#nav-header ul li{
    font-size: 25px;
    font-family: "Roboto", serif;
    display: inline-block;
}

#curate {
    margin-left: 120px;
    word-spacing: 10px;
    border: 1px solid;
    padding: 5px;
}

.material-icons {
    
    vertical-align: middle;
    display: inline-block;
    padding-left: 7px;
}


#search {
    float: right;
    
    }


#nav-menu ul {
    
    margin: 0px auto;
    
}
#subh
{   
    width: 1060px;
    line-height: 225%;
    margin: 0 auto;
    padding-left: 0px;
}

#subh li
{
margin: 0 1em ;

float: left;
}

#nav-menu ul li{
    color: #9C1717;
    font-family: "PT Serif", serif;
    display: inline-block;
    font-size: 17px;
    padding: 0 px;
}

#nav-menu ul li:hover{
    padding-bottom: 2px;
    border-bottom: 1px solid #9C1717;
}
.container
{   border: 1px solid black;
    width: 1100px;
    height: 700px;
    margin: 0px auto;
    margin-top: 50px;
}

.container1
{
 border: 1px solid black;
 width: 1000px;
 height: 300px;
 margin: 0px auto;
 margin-top: 50px;   
}
.verticalline
{
	border: 1px solid black;
    width: 1px;
    height: 300px;
}

nav {
    display: block;
}
html body
{
 margin: 0 auto;
 text-align: center;
}
