// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-share-link,
.social-share-options {
  display: inline-block;
}

.social-share-link i,
.social-share-options i {
  vertical-align: middle;
}

.social-share-options img {
  width: 100%
}

.social-share-options .option {
  display: inline-block;
  width: 27px;
}

.social-share-options {
  float: left;
  padding-right: 5px;
}