.social-image {
  margin: 10px 15px 0;
}

.social-image #image {
  width: 300px;
}

#tagging span {
  color: #4a4a4a;
  background-color: #f2f2f2;
  padding: 3px 10px;
  margin-left: 3px;
  border-radius: 1px;
}

#total-likes {
  line-height:24px;
  margin-left:3px;
  font-size:14px;
}

.inline-relative {
  display: inline-block;
  position: relative;
}

.b-8 {
  bottom: 8px;
}

.m-t-10 {
  margin-top: 10px;
}