<% if flash[:error].present? %>
  <div class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:notice].present? %>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:success].present? %>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
      <%= flash[:success] %>
    </div>
<% end %>