<div class="" ng-controller="headerCtrl as ctrl">
  <md-toolbar class="curativ-header">
    <div class="md-toolbar-tools">
      <a href="">
        <img src="/assets/thecurativ.png" />
      </a>
      <md-menu class="">
        <a ng-click="$mdOpenMenu($event)" class="md-icon-button">
          <%= current_user.username %>
          <div class="" style='background: url("<%= current_user.avatar.url %>")'></div>
        </a>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="" aria-label="Do something">              
              Do Something
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
  