
<!DOCTYPE html>
<html>
    <head>
        <title>TheLense</title>
        <!-- Shouldn't this be "custom.css"??? -->
        <link href="P8C.scss" type = "text/css" rel = "stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" >

        <div class="mainheader">  <!-- mainheader is the entire header -->
        <div class="header">      <!-- header enables positioning for nav header -->
        <div id="nav-header">    <!-- nev-header consists of all elements -->
           <ul>
               <a href="/"><li id="logo"><%= image_tag 'p8c-logo.png' %>THE LENSE</li></a>
               
               <!-- appearance based on whether the user as signed in or not -->


               <% if user_signed_in? %>
               <a href="/forms/new"><li id="curate">curate <i class="material-icons" , id="nav-icons">add_circle_outline</i></li></a>

               <a href="" class="dropdown-toggle"  data-toggle="dropdown"><i class="material-icons" style="font-size:30px; color: #000000; float: right; ">account_circle</i></a>
                <div class="currentheaderusername"><%= current_user.username %></div>
                <ul class="dropdown-menu">
               <li><a href="/static_pages/publish">Profile</a></li><br>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        </li>
               </ul>


               <% else %>
               <a href="/users/sign_in"><li id="curate">curate <i class="material-icons" , id="nav-icons">add_circle_outline</i></li>
               <a href="/users/sign_in"><li id="user">Sign In/Sign Up <i class="material-icons" , id="nav-icons">account_circle</i></li></a>
               <% end %>

                 <!-- <li id="search-box">
                    <form>
                        <input type="search", id="sebar" placeholder="Search...">
                        <i class="material-icons", id="serch">search</i>
                    </form> 
               </li> -->
            </ul>
        </div>
        </div>

              
        
        
      <div id="nav-menu">
        <ul id="subh">
            <li>Sample Editor's Picks</li>
            <li>Dummy Topic1</li>
            <li>Placeholder Topic2</li>
            <li>Trending Topic3</li>
            <li></li><li></li><li></li><li></li>
            <li></li><li></li><li></li><li></li>
            <li></li><li></li>
            <% if user_signed_in? %>
            <li id="myb", style="font-weight:bold;">My Boards :</li></a>
            <a href="/static_pages/publish"><li>Published</li></a>
            <a href="/static_pages/drafts"><li>Drafts</li></a>
            <a href="/static_pages/saved"><li>Saved</li></a>
            <% end %>
        </ul>
      </div>  


     </div>

<!--
        
    <script>

    <%-# #serch is button with a magnifying glass when you click on it a textfield toggles which out. toggle is javascript function like in and out. #sebar is a id given to search textfield       -%>

    $(document).ready(function(){      
    $("#serch").click(function(){
        $("#sebar").toggle();
     });
     });
    </script> 
        
        -->
    </head>    
    <body>