<div class="modal fade custom-modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-md" role="document" ng-controller="EditUserCtrl" ng-init="init(<%= @user.to_json %>)" ng-cloak>
    <div class="modal-content">
      <div class="modal-header head-title-modal">
        Edit <%= resource_name.to_s.humanize %> Preferences
      </div>
      <div class="modal-body">

          <div class="preview">
            <% if @user.photo_url.present? %>
                <%= image_tag @user.photo_url("medium"), id:"", alt: 'profile photo' %>
            <% end %>
          </div>

        <div class="form">
          <%= render partial: 'profile_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function () {
        var editUserModal = $("#editUserModal");
        editUserModal.modal("show");
        editUserModal.on('hide.bs.modal', function () {
            window.location.replace("/");
        });
    });

    <% if @user.errors.messages.present? && (@user.errors.messages[:password].present? || @user.errors.messages[:password_confirmation].present?) %>
      $('.change-password').trigger('click');
    <% end %>
</script>