<!-- New page to sign up new users -->

<div class="form_container">

  <h3>Join Us</h3>   
  </br>
  <hr>
  
  <%= form_for(:user, method: :post, url: user_registration_path) do |f| %>

  <%= render "/users/registrations/personal" %>
 

</br>
<hr>

<%= f.submit "Sign Up" %>
  
  <% end %>

<%= render "users/shared/links" %>


</div>


<style type="text/css">
img {
    width: 50%;
    
}
</style>