<!-- New page to sign up new users -->

<div class="form_container">

  <h3>Join Us1</h3>
  </br>
  <hr>

  <%= form_for(:user, method: :post, url: user_registration_path) do |f| %>

      <div class="personal">
        <%= render "/users/registrations/personal", :f => f %>
        <%= f.submit "Sign Up" %>
      </div>
      </br>
      <hr>
      <%= render "users/shared/links" %>


  <% end %>


</div>


<style type="text/css">
  img {
    width: 50%;

  }
</style>

<script type="text/javascript">
    $("#next").click(function () {
        $(".social").show();
        $(".personal").hide();
    });

    $("#back").click(function () {
        $(".social").hide();
        $(".personal").show();
    });
</script>